.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1rem; 
    background-color: black;
    color: white;
    font-size: 20px;
  }
  
  .article {
    width: calc(33.333% - 1rem); /* Ajustez cette valeur selon le nombre d'articles par ligne */
    margin-bottom: 1rem; /* Espacement en dessous de l'article */
    /* ... autres styles ... */
  }
  
  .article img {
    width: 100%; 
    height: auto; 
  }
  .read-more{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #db0b0b; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  .read-more-container{
    background-color: black;
  }