/* ArticlesList.css */

.articles-list {
  
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .article-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .article-image {
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .article-content {
    text-align: center;
    font-size: medium;
  }
  
  .article-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .content-text {
    margin:10px;
    line-height: 1.5;
    font-size: 20px;
  }
  .article-description {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .article-read-more {
    text-decoration: none;
    color: #000; /* Adjust to match your site's theme */
    background-color: #f0f0f0; /* Light grey, adjust as needed */
    padding: 10px 15px;
    border-radius: 5px;
  }
  