.article-detail {
  font-family: 'Arial', sans-serif;
  color: #333;
  max-width: 1200px; /* Adjusted for wider layout */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Ensures the title and image can wrap on smaller screens */
}

.article-title {
  flex: 1 1 60%; /* Adjust as needed */
  font-size: 50px;
  font-weight: bold;
}

.article-image {
  border-radius: 50%;
  align-self: flex-start;
  margin-left: 20px; /* Added margin for spacing */
}

.article-description {
  font-size: 40px;
  margin-top: 1em;
  flex-basis: 100%; /* Forces the description to the next line */
}

.lower-container {
  display: flex;
  margin-top: 1em;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.right-column {
  flex: 2; 
  margin-left: 20px; 
}

.article-image1 {
  width: 100%;
  max-width: 500px; /* Adjust as needed */
  height: auto;
  margin-bottom: 1em;
}

.quote-area {
  background-color: #f0f0f0;
  padding: 1em;
  border-left: 5px solid #000;
  margin-bottom: 1em;
}

.quote-text {
  font-style: italic;
  color: #555;
  font-size:30px;
}

.content-section {
  margin-bottom: 1em;
}

.content-subtitle {
  font-weight: bold;
  font-size: 35px;
}

.content-text {
  font-size: 30px;
}

@media (max-width: 768px) {
  .header-container,
  .lower-container {
    flex-direction: column;
  }
  
  .article-image {
    align-self: center; /* Center image on smaller screens */
    margin-left: 0;
  }
  
  .right-column {
    margin-left: 0;
  }
}
