/* ArticleDetail.css */


  .article-detail img {
    width: 300px; /* Adjust size as needed */
    border-radius: 50%; /* Circle shape */
  }
   /* ArticleDetail.css */

.article-detail {
  font-family: 'Arial', sans-serif; /* Or any font you're using */
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.article-header .article-title {
  font-size: 36px; /* Adjust the size as needed */
  font-weight: bold;
  margin-bottom: 0.5em;
}

.article-description {
  margin-bottom: 1em;
  font-size: 20px;
}

.content-section {
  margin-bottom: 1em;
  font-size: 20px;
}


.content-subtitle {
  font-weight: bold;
  font-size: 24px; /* Adjust the size as needed */
}

.content-text {
  line-height: 1.5;
  font-size: 20px;
}

.reduce-button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.reduce-button:hover {
  background-color: #444;
}

.reduce-button:after {
  content: '↑'; /* You can replace it with an icon */
  display: inline-block;
  margin-left: 8px;
}

 
.article-image-quote {
  max-width: 100%;
  height: auto;
}
