.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff; 
    height: 100px; 
    padding: 15px;
  }
  
  .logo-container img {
    height: 60px; 
    background-image: url('../../images/logo.png');
  }
  
  .navbar {
    display: flex;
    gap: 20px; 
  }
  
  .navbar a {
    text-decoration: none;
    color: #000; 
    font-weight: bold; 
    padding: 10px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
  }
  

  .social-icon {
    display: inline-block;
    width: 66px; /* largeur de l'icône */
    height: 66px; /* hauteur de l'icône */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px; /* espace entre les icônes */
  }
  
  .instagram {
    background-image: url('../../images/instagram-icon.png');
    width:"66px";
    height: "66px"; 
  }
  
  .youtube {
    background-image: url('../../images/youtube-icon.png'); 
  }
  .logo-container{
    width: 100px;
  }
  